h5py==3.11.0
numpy==1.23.5
nibabel==5.2.1
scikit-image==0.24.0
scipy==1.9.0
pandas==2.2.2
porespy==2.4.1
six==1.16.0
simpleitk==2.3.1
tensorflow==2.8.4
pillow==10.4.0
keras==2.8.0
tifffile==2024.7.2
csbdeep==0.8.0
scikit-learn==1.5.1
cellpose==3.0.10
stardist==0.9.1
torch==2.3.1+cu118
nifty==1.2.1
seaborn==0.13.2
imblearn==0.0
yaml==0.2.5
pyyaml==6.0.1